.removeDestaque {
    text-decoration: none;
    color: #ffffff
}

.sidebar ul li a:hover{
    background-color: rgb(117,117,117);
    border-radius: 5px;
}

.sidebar ul li a:hover{
    color: rgb(255, 255, 255);
}

.ativo{
    background-color: rgb(117,117,117);
    border-radius: 5px;
    color:white;
}

.TextoDash{
    font-size: 25px;
}

.aumentarTamanhoNav{
  font-size:20px;
}

/* styles.css */
.custom-navbar {
    background-color: #292929; /* Cor azul escuro de exemplo */
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: #ffffff; /* Cor do texto dos links */
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #b3c2d1; /* Cor do texto dos links ao passar o mouse */
  }
  
  .custom-navbar .navbar-brand img {
    filter: brightness(0) invert(1); /* Inverter a cor da imagem do ícone para branco */
  }
  
  .custom-navbar .navbar-brand {
    color: #ffffff; /* Cor do texto da marca */
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone do botão de alternância */
  }
  
  /* Altere as cores e estilos conforme necessário */